# Node.js
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example.local

# Go
/services/payment-processor/server
/services/payment-processor/payment-processor
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Database & local data
.database_data/
postgres_data/

# IDE / Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / System logs
.DS_Store
Thumbs.db
*.log
